.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.main-card {
  flex: 6;
}

.side-card {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}
